.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #1F1F1F;
  color: #f2f5f6;
  font-family: 'Founders Grotesk';
}

.App-logo {
  width: 40px;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.App p {
  margin: 0;
}

.App a {
  display: inline-block;
  margin-top: 32px;
}