h2 {
  font-family: 'Jua', sans-serif;
  font-size: 80px;
  line-height: 60px;
  margin: 0;
}

#app {
  background-color: var(--bg);
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content {
  z-index: 1;
  &__spacebar {
    padding-top: 8px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 10px;
    width: 100%;
    left: 0;
    img {
      margin-right: 8px;
    }
  }
}